$color-blue-gray: #7288a2;
$color-red: #ff7917;
$color-gray: #e5e5e5;
$color-black: #37474f;
$color-white: #ffffff;

$color-primary: #ff7917;

$margin-1: 50px;
$margin-2: $margin-1/2;
$margin-3: $margin-1/3;
$margin-4: $margin-1/5;

$padding-1: 50px;
$padding-2: 10px;

//  (landscape phones, 576px and up)
$sm-devices: 768px;
// Medium devices (tablets, 768px and up)
$md-devices: 992px;
// Large devices (desktops, 992px and up)
$lg-devices: 1200px;
// Extra large devices (large desktops, 1200px and up)
