@import "./base.scss";


.containerLeft {
  flex: 1 1;
  padding: $padding-1;
  box-sizing: border-box;
}

.containerRight {
  flex: 1;
  background-color: $color-red;
  /* height: 100vh; */
  -webkit-clip-path: polygon(100% 0, 100% 78%, 100% 100%, 0 100%, 22% 0);
  clip-path: polygon(100% 0, 100% 78%, 100% 100%, 0 100%, 22% 0);
  overflow: hidden;
}

.containerLeft::after {
  // bottom: -18%;
  height: 20vh;
  width: 30vh;
  background-color: $color-red;
  position: absolute;
  top: -15px;
  left: 50.5vw;
  z-index: 1;
  content: " ";
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.design {
  width: 298px;
  height: 225px;
  display: inline-flex;
  position: relative;
  top: -28%;
  right: -59%;
  background-color: $color-red;
  clip-path: polygon(29% 1%, 100% 0%, 75% 100%, 0 100%);
}

.contentContainer {
  width: auto;
  height: 500px;
  padding: 50px 25px;
}

.contentHeading {
  z-index: 73;
  width: 435px;
  min-height: 41px;
  background-color: transparent;
  font-size: 36px;
  color: $color-red;
  text-indent: -2px;
  text-transform: uppercase;
  line-height: 36px;
  font-family: "__Montserrat_5";
  font-weight: 800;
  margin-left: 1px;
  position: relative;
}

.contentLine {
  z-index: 96;
  width: 82px;
  height: 6px;
  margin-top: 10px;
  position: relative;
}

.contentDescription {
  z-index: 77;
  width: 500px;
  background-color: transparent;
  font-size: 14px;
  color: #242424;
  line-height: 18px;
  font-family: lato, sans-serif;
  font-weight: 400;
  margin-left: 1px;
  margin-top: 53px;
  position: relative;
}

.indicatorContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.indicator {
  height: 20px;
  width: 20px;
  background-color: rgb(248, 201, 201);
  margin: 0 5px;

  &.active {
    background-color: $color-red !important;
  }

  h2 {
    font-size: 2.62671rem;
  }
}

/* Navigation Arrows */
.arrow-container-right {
  position: absolute;
    top: 30%;
    right: 5%;

    &:hover{
      cursor: pointer;
    }
  
}


.arrow-container-right-leftContent{
  top: 30%;
  right: 50vw;
  position: absolute;


  &:hover{
    cursor: pointer;
  }
}

.arrow-container-left {
  position: absolute;
  top: 30%;
  transform: rotate(180deg);
  margin-left: -55px;

  &:hover{
    cursor: pointer;
  }

  img {
    margin-top: 1.45rem;
    margin-bottom: 0px;
  }


}

/* Animation Effect - effectFadeIn */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//InverseCourse Page

// .inversecourseimage {
//   clip-path: polygon(10% 0, 100% 0, 100% 100%, 35% 99%);
// }

// .inversedesign {
//   width: 298px;
//   height: 225px;
//   display: inline-flex;
//   position: relative;
//   top: -28%;
//   right: -15%;
//   background-color: $color-red;
//   clip-path: polygon(0 0, 73% 0, 100% 100%, 27% 100%);
// }

// .inversecontentContainer {
//   width: auto;
//   height: 500px;
//   padding: 50px 25px;
// }

// .inversecontentHeading {
//   z-index: 73;
//   min-height: 41px;
//   background-color: transparent;
//   font-size: 36px;
//   color: $color-red;
//   text-indent: -2px;
//   text-transform: uppercase;
//   line-height: 36px;
//   font-family: "__Montserrat_5";
//   font-weight: 800;
//   margin-left: 1px;
//   position: relative;
// }

// .inversecontentDescription {
//   z-index: 77;
//   background-color: transparent;
//   font-size: 14px;
//   color: #242424;
//   line-height: 18px;
//   font-family: lato, sans-serif;
//   font-weight: 400;
//   margin-left: 1px;
//   margin-top: 53px;
//   position: relative;
// }

//content
section {
  margin: 0 auto;
  float: none;
  margin-bottom: 0px;
  height: 100vh;

  // background: $color-black;
  // box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;

  li {
    list-style: none;
  }
}

.leftContent {
  // padding: 50px;
  // width: 55%;
  flex: 1;
  height: 100%;
  background: white;
  // clip-path: polygon(80% 0%, 0% 0%, 0% 100%, 100% 100%);
}

.inverse {
  margin: 0 auto;
  float: none;
  // margin-bottom: 10px;
  background: unset;
  height: 100vh;
  // box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;


  ul{
    padding-right: 7rem;
  }
}

.inverseleftContent {
  // padding: 50px;
  // width: 55%;
  flex: 1;
  height: 100%;
  background: $color-black;
  color: $color-white;
  box-sizing: border-box;
  clip-path: polygon(100% 0, 0 0, 0 100%, 75% 100%) !important;
}

.inverserightContent {
  // padding: 50px;
  // width: 50%;
  flex: 1;
  height: 100%;
  background: white;
  color: $color-black !important;
  box-sizing: border-box;
}

.rightContent {
  // padding: 50px;
  // width: 50%;
  flex: 1;
  height: 100%;
  background: $color-black;
  box-sizing: border-box;
  clip-path: polygon(100% 0, 100% 90%, 100% 100%, 20% 100%, 0% 0%);

  .rightContentData {
    padding: 50px;
    color: black;
    text-align: end;
    /* padding-left: 50px; */
    /* text-align: -webkit-right; */
    direction: rtl;

    color: $color-white;
  }
}

.srtContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 100vh;
  flex: 1 1;

  .srtContainerLeft {
    flex: 1 1;
    // padding: 50px;
    box-sizing: border-box;
    // -moz-animation-direction: polygon(80% 0%, 0% 0%, 0% 100%, 100% 100%);
    -webkit-clip-path: polygon(80% 0%, 0% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(80% 0%, 0% 0%, 0% 100%, 100% 100%);

    .srtParallaxContainer {
      // width: "100vw",
      height: 100vh;
      background-color: $color-white;
      flex: 1;
      opacity: 0.7;
    }

    .overlayImage {
      height: auto;
      width: 40%;
      /* margin: auto; */
      position: absolute;
      top: 50%;
      left: 0%;
    }
  }

  .srtContainerRight::before {
    // bottom: -18%;
    height: 20vh;
    width: 30vh;
    background-color: $color-red;
    position: absolute;
    top: -15px;
    left: 35vw;
    z-index: 1;
    content: " ";
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
  }

  .srtContainerRight {
    flex: 1 1;
    overflow: hidden;
    padding: 0px;
  }
}

.heading {
  h3 {
    justify-content: center;
    text-align: center;
  }

  h2 {
    justify-content: center;
    text-align: center;
    color: $color-red;
  }

  .buttonTabsContainer {
    display: flex;
    margin-bottom: 25px;
    padding: 0 $padding-1;

    .buttonTabs {
      padding: 1rem 4rem;
      -webkit-clip-path: polygon(25% 0%, 100% 0%, 77% 100%, 0% 100%);
      clip-path: polygon(25% 0%, 100% 0%, 77% 100%, 0% 100%);
      margin: 0 25px;
      border: 2px solid $color-red;
      -webkit-transition-duration: 0.3s;
      -webkit-transition-delay: 0s;
      -webkit-transition-timing-function: ease-in-out;
      transition-duration: 0.3s;
      transition-delay: 0s;
      transition-timing-function: ease-in-out;

      h3 {
        text-align: center;
        text-transform: uppercase;
        color: black;
        margin: 0;
      }

      .buttonTabsInverse {
        justify-content: flex-end;
      }

      &.active {
        background-color: $color-red;

        h3 {
          color: white !important;
        }
      }
    }

    .buttonTabs:hover {
      background-color: $color-red;
      cursor: pointer;

      h3 {
        color: white !important;
      }
    }
  }
}

.headingBlock {
  background-color: black;
  opacity: 0.3;
}

.parallexHelper {
  width: 100%;
  height: 100%;
}

.overlayImage {
  height: auto;
  width: 40%;
  /* margin: auto; */
  position: absolute;
  top: 50%;
  left: 57%;
}

.detailsContainer {
  padding: $padding-1;
}

.paddingContainer {
  padding: $padding-1;
}

@media (max-width: 600px) {
  .paddingContainer {
    padding: $padding-2 !important;
  }
}

@media (max-width: $md-devices) {
  .heading {
    .buttonTabsContainer {
      padding: 0 $padding-2;
      flex-wrap: wrap;
      justify-content: space-around;

      .buttonTabs {
        padding: 1em 0.6rem;
        margin-bottom: 25px;
      }
    }
    .buttonTabsInverse {
      justify-content: space-evenly;
    }
  }

  .overlayImage {
    height: auto;
    width: 80%;
    position: absolute;
    top: 10%;
    margin: auto;
    left: 10vw;
  }

  .detailsContainer {
    padding: $padding-2;
  }

}

@media (max-width: $md-devices) {
  .srtContainer {
    flex-direction: column;

    .srtContainerRight::before {
      content: unset;
    }
    .srtContainerLeft {
      clip-path: none;

      .srtParallaxContainer {
        // width: "100vw",
        height: 30vh;
      }

      .overlayImage {
        height: auto;
        width: 80%;
        margin: auto;
        position: absolute;
        top: 5%;
        left: 10vw;
      }
    }
  }

  .rightContent {
    .rightContentData {
      padding: 50px;
      color: black;
      text-align: start;
      direction: ltr;
      color: $color-white;
      background-color: $color-black;
    }

    //   .srtContainerRight {

    //   }
  }


}
@media (max-width: $md-devices) {
  section {
    height: auto;
    flex-direction: column;

    .leftContent {
      flex: 1 1;
      box-sizing: border-box;
      order: 2;
      clip-path: none;
      width: 100%;
    }

    .leftContent::after {
      content: none;
    }

    .rightContent {
      -webkit-clip-path: none;
      clip-path: none;
      height: auto;
      background-color: transparent;
      height: 100%;
      width: 100%;
    }
  }

  .inverse {
    height: auto;
    flex-direction: column;

    ul{
      padding-right: unset;
    }

    .inverseleftContent {
      flex: 1 1;
      box-sizing: border-box;
      order: 2;
      width: 100%;
      clip-path: unset !important;
    }

    .inverseleftContent::after {
      content: none;
    }

    .inverserightContent {
      -webkit-clip-path: none;
      clip-path: none;
      background-color: transparent;
      height: 100%;
      width: 100%;
    }
  }

  .courseContainer {
    height: auto;
    flex-direction: column;

    .containerLeft {
      flex: 1 1;
      padding: 10px;
      box-sizing: border-box;
      order: 2;
    }

    .containerLeft::after {
      content: none;
    }

    .containerRight {
      -webkit-clip-path: none;
      clip-path: none;
      height: auto;
      background-color: transparent;
      height: 50vh;
    }
  }


  .arrow-container-left{
    top: unset;
    bottom: 13%;
    margin: 0;
  }

  .arrow-container-right {
    top: unset;
    bottom: 13%;
    margin: 0;
    right: 0;
  }

}

@media (max-width: $lg-devices) {
  .locationContainer {
    .containerLeft::after {
      // bottom: -18%;
      height: 15vh;
      width: 15vh;
    }
  }
}
// ----------------------- PHOTO BOX -----------------------
// padding: 0px;
// webkit-clip-path: polygon(80% 0%, 0% 0%, 0% 100%, 100% 100%);
// clip-path: polygon(80% 0%, 0% 0%, 0% 100%, 100% 100%);
// ----------------------- PHOTO BOX -----------------------
