@import "../css//base.scss";

.siteFooter {
  padding: $padding-1 $padding-1 0 $padding-1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: $color-black;
  color: $color-white;
  margin-top: 50px;

  a {
    cursor: pointer;
    color: $color-white;
  }

  h3 {
    color: $color-red;
  }

  hr {
    height: 1px;
    width: 95vw;
  }

  .contentContainer {
    flex: 1;
    display: flex;
    flex-direction: row;

    .alignContent {
      text-align: left;
    }

    .aboutContainer {
      flex: 1;
      padding: 1rem;
      box-sizing: border-box;
    }

    .linkContianer {
      flex: 1;
      display: flex;
      flex-direction: row;
      padding: 1rem;

      a {
        text-transform: uppercase;
      }

      a:hover {
        color: $color-blue-gray;
      }
    }

    .legalsContainer {
      flex: 1;
      flex-direction: row;
      display: flex;

      .copyRightsContainer {
        flex: 1;

        p {
          text-align: center;
        }
        a {
          text-transform: uppercase;
          cursor: pointer;
          color: white !important;
          font-weight: bold;
          letter-spacing: 2px;
        }

        a:hover {
          color: $color-red;
        }
      }

      .socialLinksContainer {
        flex: 1;
        display: flex;
        justify-content: center;

        .iconContainer {
          margin: 0 0.5rem;

          .icon-fb {
            background: $color-white;
            -webkit-mask-image: url(../images/facebook-f-brands.svg);
            mask-image: url(../images/facebook-f-brands.svg);
            height: 1.3rem;
            width: 1.3rem;
          }

          .icon-insta {
            background: $color-white;
            -webkit-mask-image: url(../images/instagram-brands.svg);
            mask-image: url(../images/instagram-brands.svg);
            height: 1.3rem;
            width: 1.3rem;
          }
          i:hover {
            background-color: $color-red;
          }
        }
      }
    }
  }
}

.footerLink {
  color: white;
}

@media (max-width: $md-devices) {
  .siteFooter {
    padding: $padding-2;

    h3 {
      text-align: center;
    }

    .contentContainer {
      flex-direction: column;

      .alignContent {
        text-align: center;
      }
    }
  }
}
