@import "./base.scss";

.parallax {
  position: relative;
  overflow: hidden;
  z-index: -1;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.landingContainer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landingTitle {
  font-size: 11em;
  color: $color-red;
}

.courseTitle {
 
  font-size: 5.5em;

  color: $color-red;
}

.landingSubTitle {
  color: white;
}

.courseSubTitle {
  color: white;
  // font-size: 0.9rem;
}
/* Common button styles */
.button {
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 2em;
  padding: 1.01em 2em;
  border: none;
  background: none;
  color: inherit;
  // vertical-align: middle;
  position: relative;
  z-index: 1;
  backface-visibility: true;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}

/* Tamaya */
.buttonTamaya {
  overflow: hidden;
  color: #37474f;
  background: #fff;
  min-width: 180px;
}
.buttonTamaya.buttonInverted {
  color: #37474f;
  border-color: #37474f;
}
.buttonTamaya::before,
.buttonTamaya::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  background: $color-red;
  color: #fff;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.buttonTamaya.buttonInverted::before,
.buttonTamaya.buttonInverted::after {
  background: #fff;
  color: #37474f;
}
.buttonTamaya::before {
  top: 0;
  padding-top: 1em;
}
.buttonTamaya::after {
  bottom: 0;
  line-height: 0;
}
.buttonTamaya > span {
  display: block;
  -webkit-transform: scale3d(0.2, 0.2, 1);
  transform: scale3d(0.2, 0.2, 1);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.buttonTamaya:hover::before {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.buttonTamaya:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.buttonTamaya:hover > span {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.buttonBorderThick {
  border: 3px solid;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .landingTitle {
    font-size: 6em;
  }

  .courseTitle {
    font-size: 4rem;
  }

  .courseSubTitle {
    font-size: 0.9rem;
  }

  .buttonContainer {
    flex-direction: column;
  }
}
