
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway&display=swap');
@import "./base.scss";

$black: #37474f;
.container {
    height: 140px;
    width: 100%;
    position:relative;
}

.titleContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 250px;
    background-color: $color-red;
    clip-path: polygon(0 0%, 100% 0, 85% 100%, 0 100%);
    color: white;
}

.title {
    margin-left: -40px;
    margin-top: 25px;
    font-size: 2.5em;
}
.navTogglerContainer  {
    height: 10vh;
    width: 140px;
    background-color: $color-red;
    position: fixed;
    right: 0px;
    top: 0px;
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    z-index: 98;
    
}


.menuBlock {
    
    margin-top: 8px;
    margin-left: 25px;
}

.menu {
     clip-path: polygon(45% 0, 100% 0, 100% 100%, 45% 100%, 0 50%);
    background-color: $color-red;
    width: 30vw;
    height: 75vh;
    position: fixed;
    top: 0;
    right: 0;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 7em;
    flex-direction: column;
    z-index: 99;
}

hr {
    background: white;
    height: 2px;
    margin: 0px;
    width: 45px;
    margin-bottom: 10px;
}

hr:nth-of-type(2) {
    width: 35px;
}

hr:nth-of-type(3) {
    width: 25px;
}


.linkContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    a {
        color: white;
        font-size: 2.0em;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;    
    }
}




a:hover {
    text-decoration: none;
    color: $black;
}


@media (max-width: 600px) {

    .menu {
    -webkit-clip-path: unset;
    clip-path: unset;
    width: 100vw;
    justify-content: center;
    align-items: center;
    }
}
